@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sectionHeading {
    @apply absolute flex flex-col top-24 uppercase tracking-[20px] text-gray-500 text-2xl;
  }
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#e84118] hover:text-[#e84118]/40;
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:text-[#e84118]/40 focus:border-[#e84118]/40;
  }
}
